<h1>mushimegane</h1>
<p>ホーム画面</p>

<h2>
  アップロードフォーム
</h2>
<div>
  <p>File A</p>
  <session class="import_form_a">
    <%= render 'shared/import_form' %>
  </session>

  <p>File B</p>
  <session class="import_form_b">
    <%= render 'shared/import_form' %>
  </session>
</div>
